body{
    min-width: 10rem;
}body{
    min-width: 25rem;

}
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.top-container{
    background-color: darkseagreen;
    height: auto;
    width: 100%;
}
h1{position: relative;
    margin-top: 100px;
    text-align: center;
    font-family: Sacramento;
    font-size: 4.68rem;
    display: block;
    line-height: 1;
    color: #fff;
}
h4{
    text-align: center;
    font-size: 1.5625rem;
    color: #fff;

}
.mountain{
    height: auto;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.top-cloud{
    position: relative;
    margin-top: 120px;
    margin-left: 65%;
}
.bottom-cloud{
    display: inline;
    float: left;
    padding-left: 200px;

}

h2{
    margin-top: 200px;
    text-align: center;
    line-height: 1;
    font-size: 3.75rem;
    font-family: Merriweather;
    color: #11999f;

}
.myimg{
    border-radius: 50%;
    height: 20%;
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.paragraph{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.875rem;
    text-align: center;
    justify-content:  center;
}
.images{
    height: 15%;
    width: 15%;
    position:relative;
    margin-left: 200px;
    display:inline-flex;
}
h3{
    margin-top: 200px;
    margin-bottom: 100px;
    text-align: center;
    line-height: 1;
    font-size: 3.75rem;
    font-family: Merriweather;
    color: #11999f;

}
.likedin{
    height: 5%;
    width: 5%;
    display: block;
    margin-left: auto;
    
    margin-right: auto;


}
footer{
    background-color: #11999f;
    justify-content:center;
    text-align: center;
    height: 60px;
    margin-top: 90px;
    margin-bottom: 20px;
    padding-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.25rem;
    font-weight: bold;
    color: #fff;
}

@media (min-width:100px) {
    .images {
        display:inline;
        height: 10%;
        width:10%;
        position: relative;
        margin: auto;
        margin-left: 18%;
    }
}
@media (min-width:319px) and (max-width:480px) {
  body{  background-color: peachpuff;
  }
}
@media (min-width:481px) and (max-width:1200px)
{
    body{
        background-color: skyblue;
    }
}
@media(min-width:1201px) and (max-width:1200px)
{
    body{
        background-color: limegreen;

    }
}
  @media(min-width:1601px) and (max-with:100%){
    body{background-color: white;}
  }